{% autoescape off %}
Bitmeyen Hikaye Uygulamasında {{ user.get_username }} hesabı için şifre sıfırlama isteğinde bulundunuz,
şifrenizi sıfırlamak için aşağıdaki linke tıklamanız ardından gelen pencerede yeni şifrenizi girmeniz gerekmektedir:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Eğer tarayıcınız yönlendirmeyi desteklemiyorsa linki tarayıcınıza yazarak veya yapıştırarak deneyiniz.
Eğer bu işlemi siz yapmadıysanız, lütfen gelen epostayı dikkate almayınız.

Saygılarımızla.
Bitmeyen Hikaye Takımı

Karson Ltd. Şti. / bilgi@karson.com.tr / www.karson.com.tr

{% endautoescape %}